
NEXT_PUBLIC_SUPABASE_URL=https://plmvtiehpbjninggkobe.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_zrIk9oynOGB0d0XdHfTesg_7ASC6tpI
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBsbXZ0aWVocGJqbmluZ2drb2JlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQ2OTU3NDksImV4cCI6MjEwMDI3MTc0OX0.jzJ5BaexdEvN5ZSq3p5ROSbsrYlczoYvWqz6_YROgEo
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBsbXZ0aWVocGJqbmluZ2drb2JlIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDY5NTc0OSwiZXhwIjoyMTAwMjcxNzQ5fQ.tKn8ct-uoHGyBCFm6GwOquDHkvcPmdfoLtE0m_vRgPI
DATABASE_URL=postgresql://postgres:ush2Jj!Lf5!@q4.@db.plmvtiehpbjninggkobe.supabase.co:5432/postgres
NEXT_PUBLIC_SITE_URL=http://localhost:3001